* {font-family: "Satisfy", cursive;
  box-sizing: border-box;
}

header {
  text-align: center;
  padding: 1px;
}

header img {
  width: 200px;
  border-radius:100px
}

header a {
  display:inline-block;
  margin:0px 20px;
  border:1px solid #a38d63;
  padding:8px;
  text-decoration: none;
  color:black;
  background-color: #b69c6d;
  border-radius: 4px;
  width: 150px;
}

.cart-container {
  position: fixed;
  display: inline-block;
  top: 20px;
  right: 20px;
  padding: 10px;
  text-align: right;
  cursor: pointer;
  background-color: #b69c6d;
  border-radius: 4px;
}

#cart {
  display: none;
  text-align: left;
  padding: 20px 10px;
}

.add-2-cart {
  cursor: pointer;

}

.add-2-cart:hover {
  color:aqua;
}

.cart-container:hover #cart {
  display: block;
}

footer {
  text-align:center;
font-family:Arial, Helvetica, sans-serif;
}

html{
  background-color: #ceb27e;
}

.current-page{
  background-color: #ceb27e;
}

header a:hover{
  color:aqua;
}

.menu-item {
  display: inline-block;
  vertical-align: top;
  margin:10px;
  padding: 10px;
  text-align: center;
  background-color: #c2a061;
  border-radius: 30px;
  
}

.menu-item img {
  width: 250px;
  height: 250px;
 object-fit: cover;
 border-radius: 20px;
}

main{
  width: 900px;
  margin: 20px auto;
}

#image-carousel{
  width: 100%;
  margin: 20px 0px;
  height: 400px;
  object-fit: cover;
}

html, body {
  margin: 0px;
  padding: 0px;
}

.cart-container a{
  display: none;
  text-align: center;
}

.cart-container:hover a{
  display: inline-block;
}

/*background image section formatting*/
.background-section {
  background-image: url('images/backgrounds/green.png');
  background-size: cover;
  background-position: center;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /*text-align: center;*/
}

.reviews{
  text-align: center;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
  max-width: 1000px;
  margin: 0 auto;
}

.item-listing {
  text-align: center;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #cd7f32;
}

.item-listing img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 16px;
}

.itme-listing p {
  margin: 0;
}